header {
    min-height: 10vh;
    margin-top: 3em;
    

    
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        display: block;
        text-align: center;
    }
}