.input__section {

    margin-top: 2em;
}

.input__container {

    

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5em;

    @include mobile {
        display: block;
    }

    label {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;

        width: 100%;
    }
    input,
    select {
        margin-top: 0.5em;
    }

   
}

.button__container {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}