.input__container {

    border: 2px solid magenta;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        display: block;
    }

    label {
        display: flex;
        flex-direction: column;
    }
}