button {

    border: none;
    background: none;
}


.btn {

    padding: 0.5em 1.5em;
    min-width: 100px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.4px;
    cursor: pointer;
    border-radius: 0.2em;
    text-transform: uppercase;
    transition: 200ms ease-in;
}



.libary__book > .libary__btn {
    text-align: right;
}

.btn--create {
    background-color: $blue-500;

    &:hover {
        background-color: $blue-hover;
    }
}

.btn--delete {
    background-color: $red-500;

    &:hover {
        background-color: $red-hover;
    }
}

.btn--edit {
    background-color: $green-500;

    &:hover {
        background-color: $green-hover;
    }
}

.btn--status {

    border: 1px solid $neutral-grey-200;
    color: $neutral-grey-800;

    &:hover {
        border-color: $neutral-grey-900;
    }
}

