button {

    border: none;
    background: none;
}


.btn {

    padding: 0.5em 1.5em;
    min-width: 100px;
    color: white;
    cursor: pointer;
    border-radius: 0.2em;

    transition: 200ms ease-in;
}

.btn--create {
    background-color: $blue-500;

    &:hover {
        background-color: $blue-hover;
    }
}

.btn--delete {
    background-color: $red-500;

    &:hover {
        background-color: $red-hover;
    }
}

.btn--edit {
    background-color: $green-500;

    &:hover {
        background-color: $green-hover;
    }
}
