
.input__container {
    
    
    input[type="text"],
    input[type="number"] {
        
        border-radius: 5px;
        border: 1px solid $neutral-grey-200;
        height: 40px;
        margin-top: 0.5em;
    }

    label {
        color: $neutral-grey-900;
        font-weight: bold;
        
    }
}