

/* colors */

$neutral-grey-900: #171717;
$neutral-grey-800: #27272A;
$slate-grey-100: #f1f5f9;

$red-500: #ef4444;
$red-hover: #f87171;

$blue-500: #3b82f6;
$blue-hover: #60a5fa;

$green-500: #22c55e;
$green-hover: #4ad380;